
:root {
	/* color variables */
	--gray-300: #dee2e7;
	--white: #fff;
	--primary: #0d6efd;
	--gray-600: #505050;
	--base-color-blue: #0d6efd;
	--dark: #1c1c1c;
	--base-color-dark: #1c1c1c;
	--gray-500: #8b96a5;
	--base-color-orange: #ff9017;
	--gray-200: #eff2f4;
	--base-color-gray-200: #e0e0e0;
	--base-color-gray-800: #606060;
	--gray-400: #bdc4cd;
	--orange: #ff9017;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text-btn-btn-normal {
	color: var(--white);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.text-title {
	color: var(--dark);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.375;
	letter-spacing: 0px;
}

.text-base {
	color: var(--gray-600);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}

.text-normal {
	color: var(--base-color-gray-800);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.2px;
}

.title-h-a {
	color: var(--base-color-dark);
	font-size: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
}

.title-h {
	color: #1c1c1c;
	font-family: 'Inter';
	font-weight: 600;
}

.text-base {
	color: #1c1c1c;
	font-family: 'Inter';
	font-weight: 400;
}



/* ui objects utility classes */

.btn2 {
	display: flex;
	background-position: top left;
	background-size: auto auto;
	background-repeat: no-repeat;
	padding: 11px 17px;
	border-radius: 6px;
}

.card-white1 {
	display: flex;
	align-items: flex-start;
	background-color: #fff;
	padding: 9px 5px 11px 5px;
	border: 1px solid var(--gray-300);
	border-radius: 6px;
}

.btn1 {
	width: 100px;
	display: flex;
	background-position: top left;
	background-size: auto auto;
	background-repeat: no-repeat;
	padding: 11px 8px 10px 8px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.btn-white {
	box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
	display: flex;
	background-color: var(--white);
	padding: 10px 15px;
	border: 1px solid var(--gray-300);
	border-radius: 6px;
}

.card-white2 {
	display: flex;
	align-items: flex-start;
	background-color: #fff;
	padding: 10px 13px 9px 9px;
	border: 1px solid var(--gray-300);
	border-radius: 6px;
}



/* button hover utility classes */

.hover-dark:hover {
	filter: brightness(0.85);
}

.hover-bright:hover {
	filter: brightness(1.2);
}
