
:root {
	/* color variables */
	--gray-300: #dee2e7;
	--dark: #1c1c1c;
	--gray-500: #8b96a5;
	--base-color-gray-200: #e0e0e0;
	--base-color-dark: #1c1c1c;
	--gray-600: #505050;
	--gray-200: #eff2f4;
	--base-color-blue: #0d6efd;
	--primary: #0d6efd;
	--base-color-white: #fff;
	--white: #fff;
	--base-color-gray-800: #606060;
	--base-color-gray-300: #bdc1c8;
	--base-color-gray-500: #787a80;
	--base-color-orange: #ff9017;
	--base-color-green: #00b517;
	--green: #00b517;
	--gray-400: #bdc4cd;
	--orange: #ff9017;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1440;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text-normal {
	color: var(--base-color-gray-800);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.2px;
}

.text-btn-btn-normal {
	color: var(--white);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0px;
}

.title-h4 {
	color: #fff;
	font-size: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: 1.333;
	letter-spacing: -0.2px;
}

.title-h3 {
	color: var(--dark);
	--min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
}

.title-h1 {
	color: var(--dark);
	font-size: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
}

.text-link {
	color: var(--base-color-blue);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.1px;
}

.title-h2 {
	color: var(--base-color-dark);
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0px;
}

.text-base {
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}



/* ui objects utility classes */

.card-white2 {
	width: 80px;
	background-color: #fff;
	padding: 4px;
	border: 1px solid var(--base-color-gray-200);
	border-radius: 6px;
}

.btn1 {
	width: 100px;
	display: flex;
	background-position: top left;
	background-size: auto auto;
	background-repeat: no-repeat;
	padding: 11px 8px 10px 8px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.card-light {
	background-color: #eee;
	padding: 8px 10px 9px 7px;
	border-radius: 6px;
}

.btn2 {
	display: flex;
	background-position: top left;
	background-size: auto auto;
	background-repeat: no-repeat;
	padding: 11px 16px;
	border-radius: 6px;
}

.card-white1 {
	width: 100%; height: 57px;
	background-color: #fff;
	border: 1px solid var(--gray-300);
	border-radius: 4px;
}



/* button hover utility classes */

.hover-dark:hover {
	filter: brightness(0.85);
}

.hover-bright:hover {
	filter: brightness(1.2);
}
